<html>
 <body>
  <h1 align="center">Welcome to my web serve</h1>
  <h1 align="center">My addressi is {{ ansible_host }}</h1>
  <h1 align="center">OS Distro is {{ ansible_facts.distribution }}</h1>
 </body>
 </html>
